<!DOCTYPE html>

<html>
<title>Cooperative Education</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    #scroll_demo {
         height:1080px;
         overflow:auto;
}
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-hover-dark-grey w3-large" style="z-index:4">
	<span class="w3-bar-item"><strong>COOPERATIVE EDUCATION</strong></span>
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <a href="{% url 'home' %}" class="w3-bar-item w3-right">HOME</a>
</div>
    
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:205px;" id="mySidebar"><br>
  <div class="w3-container w3-row s5">
    
    <div class="w3-col s10 w3-bar w3-margin-left" alight="center">
      <strong>&nbsp &nbsp EASY MANUAL</strong><br>
      
    </div>
  </div>
  <hr> 
  
  <div class="w3-bar-block" >
	<a href={% url 'dashboard' %} class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
	<a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding w3-pink"><i class="fa fa-line-chart fa-fw"></i> Dashboard</a>
				
    <a href="{% url 'segmentation' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-group fa-fw"></i> Segmentation</a>
    
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
<!-- !PAGE CONTENT! -->
<div id="scroll_demo" class="w3-main" style="margin-left:206px;margin-top:43px;">

 

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}

function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

{% block content %}

    <body>
	
        <!--Table and divs that hold the pie charts-->
	    
		<table class="columns" >
		  <tr>
			<td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
		    <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="areachart_div" style="border: 1px solid #ccc"></div></td>
		  </tr>
		</table>
	    
    </body>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        
          // Load Charts and the corechart and barchart packages.
          google.charts.load('current', {'packages':['corechart']});

          // Draw the pie chart and bar chart when Charts is loaded.
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Mushrooms', 3],
              ['Onions', 1],
              ['Olives', 1],
              ['Zucchini', 1],
              ['Pepperoni', 2]
            ]);

            var piechart_options = {title:'Pie Chart: How Much Pizza I Ate Last Night',
                           width:400,
                           height:300};
            var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
            piechart.draw(data, piechart_options);

            var barchart_options = {title:'Barchart: How Much Pizza I Ate Last Night',
                           width:400,
                           height:300,
                           legend: 'none'};
            var barchart = new google.visualization.BarChart(document.getElementById('barchart_div'));
            barchart.draw(data, barchart_options);

          }
        </script>
        
{% endblock %}

</body>
</html>
